/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin:  0;
    padding: 0;
    background-color: #b2c1c8;
    font-family: "Kanit", serif;

}
.topmain {
    margin: 1rem 1rem;
    background-color: whitesmoke;
    border: solid 2px black;
    border-radius: 10px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

.logo img  {
    margin: 0 2rem;
    text-decoration: none;
    width: 200px;
    height: 100px;
}

.login_singin li a {
    color: black;
    text-decoration: none;
}

.login_singin {
    display: flex;
    list-style: none;
    margin: 1rem;
}

.login_singin li {
    margin-left: 20px;
}

.login_singin li a {
    border: solid 2px black;
    padding: 5px;
    display: inline-block;
    border-radius: 10px;
}

.containr{
    display: flex;
    justify-content: space-between;
}

.leftside{
    overflow: hidden;
    margin-left: 1rem ;
    margin-bottom: 1rem;
    background-color: whitesmoke;
    border: solid 2px black;
    border-radius: 10px;
    width: 260px;
    height: 860px;
    text-align: center;
}

.side li{
    margin-top: 40px;
}

.side li:hover  {
    overflow: hidden;
    background-color: #dddbdb;
    border-radius: 10px;
    transition: all 0.2s ease;
    padding: 1rem;
    margin: 1rem;
}  

.side li a {
    color: black;
    text-decoration: none;
}
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
.rightside {
    overflow: hidden;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    background-color: whitesmoke;
    border: solid 2px black;
    border-radius: 10px;
    width: 1800px;
    height: auto;
  }

 

.ontop{
    overflow: hidden;
    /* display: flex; */
    padding: 2rem;
    margin-top: 1rem;
    margin-left: 1rem;
    background-color: whitesmoke;
    border: solid 2px black;
    border-radius: 10px;
    font-size: 30px;
    width: 550px;
    font-size: 20px;
    text-align: center;
}



.ontop1{
 text-align: center;
 padding-right: 5rem;
} 

.balance{
    padding-left: 75px  ;
    padding-bottom: px;
    font-size: 50px;
    color: rgb(98, 191, 155);
}

.incom-expense-container{
    display: flex;

}

.one-money-plus{
    margin-left: 7.5rem;
    margin-top: 1rem;
    margin-right: 1rem;
    padding: 2rem;
    border: solid 2px black;
    border-radius: 10px;

}
.one-money-plus P:first-of-type{
    color: rgb(3, 235, 3);
    text-align: center;
}

.two-money-minus{
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    padding: 2rem;
    border: solid 2px black;
    border-radius: 10px;

}
.two-money-minus P:first-of-type{
    color: red;
    text-align: center;
}

.right-three h3 {
    position: absolute;
    right: 0px;
    width: 300px;
    text-align: center;
    
}
.list{
    margin-top: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 2rem;
    position: absolute;
    right: 1rem;
    width: 700px;
    text-align: center;
    border: solid 2px black;
    border-radius: 10px;
}


























